pandas
beautifulsoup4
playwright
snowflake-connector-python==3.0.4
boto3
litellm
fastapi==0.100.0  
uvicorn==0.21.1
streamlit==1.22.0
python-dotenv==1.0.0

langchain==0.1.16  
crewai==0.1.32
langchain-openai==0.0.2
openai==1.7.2

dotenv
