# Core tools
pandas
beautifulsoup4
playwright
boto3

# Snowflake
snowflake-connector-python==3.0.4

# Web frameworks
fastapi==0.100.0
uvicorn==0.21.1
python-dotenv==1.0.0
streamlit==1.22.0

openai==1.14.2
litellm==1.31.6

langchain==0.1.16
langchain-openai==0.3.14
crewai==0.114.0

